.container__small-card {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.small-card__photo {
  width: 40%;
}

.small-card__photo > img {
  width: 100%;
}

.small-card__info {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dateNews {
  justify-self: flex-start;
}

.small-card__title {
  font-size: 1.25rem;
}

.small-card__title__link {
  color: #FFF;
}


