.container__content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;

  color: #FFF;
}

.content__cover {
  display: flex;
  justify-content: center;
}

.content__cover > img {
  width: 70%;
  min-width: 50%;
  border-radius: 5px;
  border: 2px solid gray;
}

.content__description > p {
  color: #808080;
}
