.container__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  color: #FFF;
}

.content__cover {
  display: flex;
  justify-content: center;
}

.content__cover > img {
  width: 100%;
  min-width: 50%;
  border-radius: 5px;
  border: 2px solid gray;
}

.content_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__description > p {
  color: #808080;
}
