<div class="container__home">
  <section class="home-top">
    <div class="container">
      <app-home-title></app-home-title>
      <section class="home-top__content">
        <app-big-card></app-big-card>
        <div class="home-top__content__others">
          <app-small-card></app-small-card>
          <hr>
          <app-small-card></app-small-card>
          <hr>
          <app-small-card></app-small-card>
        </div>
      </section>
    </div>
  </section>
  <section class="home-bottom">
    <div class="container">
      <h2 class="home-bottom__title">Inferior</h2>
      <section class="home-bottom__content">
        <app-big-card width="200px" linkColor="#000"></app-big-card>
        <app-big-card width="200px" linkColor="#000"></app-big-card>
        <app-big-card width="200px" linkColor="#000"></app-big-card>
        <app-big-card width="200px" linkColor="#000"></app-big-card>
        <app-big-card width="200px" linkColor="#000"></app-big-card>
        <app-big-card width="200px" linkColor="#000"></app-big-card>
      </section>
    </div>
  </section>
</div>
