<div class="container__home">
  <section class="home-top">
    <div class="container">
      <app-home-title></app-home-title>
      <section class="home-top__content">
        <app-big-card
          id={{mainNews.id}}
          imageUrl={{mainNews.imageUrl}}
          imageDate={{mainNews.publicationDate}}
          title={{mainNews.title}}
          description={{mainNews.description}}
        ></app-big-card>
        <div class="home-top__content__others">
          @for (item of recentNews; track $index) {
            <app-small-card
              id={{item.id}}
              imageUrl={{item.imageUrl}}
              imageDate={{item.publicationDate}}
              title={{item.title}}
            ></app-small-card>
            <hr>
          }
        </div>
      </section>
    </div>
  </section>
  <section class="home-bottom">
    <div class="container">
      <h2 class="home-bottom__title">Inferior</h2>
      <section class="home-bottom__content">
        @for (item of otherNews; track $index) {
          <app-big-card
            id={{item.id}}
            width="230px"
            linkColor="#000"
            imageUrl={{item.imageUrl}}
            imageDate={{item.publicationDate}}
            title={{item.title}}
            description={{item.description}}>
          </app-big-card>
        }
      </section>
    </div>
  </section>
</div>
