.home__top {
  background-color: #121212;
  color: #FFF;
  padding: 20px 0;
}

.home__top__content {
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
}

.others {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

